= render :partial => 'nav'
.container.principal
  = render :partial => 'menu', locals: {:etape => 1}

  = form_tag(controller: "commande", action: "menu", method: "post") do
    .row
      .col-xs-12.col-md-4
        %h2.text-center.oswald Glucides
        - @ingredients['glucides'].each do | ingredient |
          .checkbox.checkbox-success
            = check_box_tag("ingredients[#{ingredient.id}]")
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom
         

      .col-xs-12.col-md-4
        %h2.text-center.oswald Protéines
        - @ingredients['proteines'].each do | ingredient |
          .checkbox.checkbox-success
            = check_box_tag("ingredients[#{ingredient.id}]")
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom

      .col-xs-12.col-md-4
        %h2.text-center.oswald Fruits et légumes
        - @ingredients['legumes'].each do | ingredient |
          .checkbox.checkbox-success
            = check_box_tag("ingredients[#{ingredient.id}]")
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom
    .row
      .col-xs-12.col-md-12.text-center
        %button.btn.btn-default{:type => "submit"} Valider
