= render :partial => 'nav'
.container.principal
  = render :partial => 'menu', locals: {:etape => 1}

  = form_tag(controller: "commande", action: "menu", method: "post") do
    .row
      .col-xs-12.col-md-4
        %h2.text-center.oswald.categorie-glucides Féculents
        - @ingredients['glucides'].each do | ingredient |
          .checkbox.checkbox-danger
            = check_box_tag("ingredients[#{ingredient.id}]", true,true)
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom

      .col-xs-12.col-md-4
        %h2.text-center.oswald.categorie-proteines Source de protéines
        - @ingredients['proteines'].each do | ingredient |
          .checkbox.checkbox-warning
            = check_box_tag("ingredients[#{ingredient.id}]", true,true)
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom
      .col-xs-12.col-md-4
        %h2.text-center.oswald.categorie-legumes Fruits et légumes
        - @ingredients['legumes'].each do | ingredient |
          .checkbox.checkbox-success
            = check_box_tag("ingredients[#{ingredient.id}]", true,true)
            %label{:for => "#{ingredient.id}"}
            = ingredient.nom
    .row
      .col-xs-12.col-md-12.text-center
        %button.btn.btn-default{:type => "submit"} Valider

    %div{:style => "width: 800px;"}
      #map{:style => "width: 800px; height: 400px;"}


    %script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=®ion="}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript"}

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 48.5891149,
        "lng": 7.74552170000004,
        "picture": {
          "width":  32,
          "height": 35
        },
        "infowindow": '<p class="gras">Bsa Shop</p><p>38 rue du faubourg de pierre</p><p>67000 Strasbourg</p><p>03 90 41 12 76</p><a id="bsa" class="btn btn-sm btn-success">Choisir</a>'
      }
    ]);
    markers2 = handler.addMarkers([
      {
        "lat": 48.5708013,
        "lng": 7.77788320000019,
        "picture": {
          "width":  32,
          "height": 35
        },
        "infowindow": '<p class="gras">Evaé</p><p>5 rue de Prague</p><p>67000 Strasbourg</p><p>03 88 34 58 79</p><a id="evae" class="btn btn-sm btn-success">Choisir</a>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.bounds.extendWith(markers2);
    handler.fitMapToBounds();
  });

