= render :partial => 'nav'
.container.principal
  = render :partial => 'menu', locals: {:etape => 4}
  %h1.oswald Recapitulatif de la commande

  .row.prix
    .col-md-8.col-xs-12
      %h3.oswald= "#{@session["nb_meals"]} boxes de #{@session["box_size"]} g"
    .col-md-4.col-xs-12
      %h3.oswald.pull-right
        = "#{@total.round(2)} €"
    - @plats.each do | plat |
      .col-md-8.col-xs-12
        %h4.oswald= plat[:plat].nom
      .col-md-4.col-xs-12
        %h4.oswald.pull-right
          = "#{plat[:prix]} €"

  .row
    .col-md-4.col-xs-12
      %h3= "Sources de protéines : #{@session["proteines_value"]} g"
    .col-md-4.col-xs-12
      %h3= "Féculents : #{@session["glucides_value"]} g"
    .col-md-4.col-xs-12
      %h3= "Legumes : #{@session["legumes_value"]} g"
  .progress
    .progress-bar.progress-bar-danger#proteines-pb{:style => "width: #{ 100 * @session["proteines_value"].to_i / @session["box_size"].to_i}%"}
    .progress-bar.progress-bar-warning#glucides-pb{:style => "width: #{ 100 * @session["glucides_value"].to_i/ @session["box_size"].to_i}%"}
    .progress-bar.progress-bar-success#legumes-pb{:style => "width: #{ 100 * @session["legumes_value"].to_i/ @session["box_size"].to_i}%"}

  .row
  - @plats.each do | plat |
    .col-md-6.col-xs-12
      .plat-container
        .row.plat
          .col-md-5.col-xs-12.photo-plat.photo-plat-small{style:"background-image: url('/plats/#{plat[:plat].id}.jpg')"}
          %h3.text-align-center.oswald=plat[:plat].nom
          .col-md-7.col-xs-12.col-md-offset1
            %h4.oswald Ingredients :
            - plat[:plat].ingredients.each do | ingredient |
              = ingredient.nom

  %br
  %div.col-md-12
    %hr
    %h1.oswald Choix de la livraison

    .text-align-center
      .btn-group
        .btn.btn-default#btn-relais
          Point relais
        .btn.btn-default#btn-domicile
          Livraison a domincile

    #relais
      %br
      .row
        .col-md-4.col-xs-12.col-md-offset-4
          .form-group
            %label
              Nom :
            %input.form-control{:placeholder => "Doe", :type => "text"}/
          .form-group
            %label
              Prenom :
            %input.form-control{:placeholder => "John", :type => "text"}/
          .form-group
            %label
              Point relais :
            %select.form-control#select-relais
              %option{"value"=>1} Evae Strasbourg
              %option{"value"=>2} BSA Shop
          %a.confirm-buy.btn.btn-success
            Acheter
    #domicile
      %br
      .row
        .col-md-4.col-xs-12.col-md-offset-4
          .form-group
            %label
              Nom :
            %input.form-control{:placeholder => "Doe", :type => "text"}/
          .form-group
            %label
              Prenom :
            %input.form-control{:placeholder => "John", :type => "text"}/
          .form-group
            %label
              Addresse :
            %input.form-control{:placeholder => "2 Hulk avenue", :type => "text"}/
          .row
            .col-md-6.col-xs-12
              .form-group
                %label
                  Code postal :
                %input.form-control{:placeholder => "67100", :type => "text"}/
            .col-md-6.col-xs-12
              .form-group
                %label
                  Ville :
                %input.form-control{:placeholder => "Strasbourg", :type => "text"}/
          .form-group
            %label
              Heure de livraison :
            %input.form-control{:value => "10:45", :type => "time"}

          %a.confirm-buy.btn.btn-success
            Acheter


#map-cont.custom-hide{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}

%script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=®ion="}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript"}

:javascript
  choisir = function(elem){
    $("#select-relais").val(elem);
  }
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 48.5891149,
        "lng": 7.74552170000004,
        "picture": {
          "width":  32,
          "height": 35
        },
        "infowindow": '<p class="gras">Bsa Shop</p><p>38 rue du faubourg de pierre</p><p>67000 Strasbourg</p><p>03 90 41 12 76</p><a id="bsa" class="btn btn-sm btn-success" onClick="choisir(2);">Choisir</a>'
      }
    ]);
    markers2 = handler.addMarkers([
      {
        "lat": 48.5708013,
        "lng": 7.77788320000019,
        "picture": {
          "width":  32,
          "height": 35
        },
        "infowindow": '<p class="gras">Evaé</p><p>5 rue de Prague</p><p>67000 Strasbourg</p><p>03 88 34 58 79</p><a id="evae" class="btn btn-sm btn-success" onClick="choisir(1);" >Choisir</a>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.bounds.extendWith(markers2);
    handler.fitMapToBounds();
  });

